@tailwind base;
@tailwind components;
@tailwind utilities;

.header__wrapper {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.header__wrapper .header__logo {
  transform: scaleX(-1);
}

.header__logo {
  margin-left: 30px;
}


.header__search {

  display: flex;
  align-items: center;
  background-color: black;
  opacity: 0.5;
  height: 30px;
  width: 300px;
}

.header__searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  border: 2px solid #bccad6;
  padding: 10px;
  border-radius: 10px;
}

.header__searchContainer>.MuiSvgIcon-root {
  color: gray;
  padding: 10px;

}

.header__searchContainer>input {
  border: none;
  width: 350px;
  margin-right: 25px;
  height: 20px;
  background-color: black;
  color: white;
}

.header__searchContainer>input:focus {
  outline: none;
  background-color: #ffffff;
  color: #000;
  height: 20px;
}

.header__menuItems {
  margin-right: 50px;
}



.header__menuItems a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  white-space: nowrap;
}

.header__menuItems a:hover,
.header__menuItems a:active {
  color: #ffffff;
  transform: scale(1.1);
}

.header__menuItems {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.header__menuItems a,
.header__menuItems .custom-dropdown {

  display: inline-block;
  margin-right: 10px;
  opacity: 70%;
  border: 0px;
  outline: 0px;
  /* padding-bottom: 6px; */
}

.custom-dropdown:hover {
  opacity: 100%;
}

input[type="search"]:focus {
  outline: none;
  box-shadow: none;
}

.btnid,
.btnid:hover,
.btnid:focus,
.btnid:active {
  background-color: transparent !important;
}